body {
  background-color: grey;
  text-decoration: none;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

p {
  margin: 100px 100px;
}

ul li {
  list-style-type: none;
}

ul {
  margin: 0 360px;

}
 #img-div img {
   height: 50%;
   width: 600px;

 }
