body {
  background-color: grey;
  text-decoration: none;
  text-align: center;
}

ul li {
  list-style-type: none;
}

ul {
  margin-left: 340px;
  width: 50%;
}
 #img-div img {
   height: 50%;
   width: 500px;
   margin-left: 200px;
 }
