body {
  background-color: grey;
  text-decoration: none;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

h3 {

}

ul li {
  list-style-type: none;
}

ul {


}
 #img-div img {
   height: 50%;
   width: 600px;

 }
